<div class="grid gap-2 relative w-fit mx-auto">
    <div class="flex gap-2">
        <button id="backquote" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-16 shadow-lg bg-red-200 rounded-md">`</button>
        <button id="digit1" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-red-200 rounded-md">1</button>
        <button id="digit2" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-red-200 rounded-md">2</button>
        <button id="digit3" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-red-200 rounded-md">3</button>
        <button id="digit4" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-red-200 rounded-md">4</button>
        <button id="digit5" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-red-200 rounded-md">5</button>
        <button id="digit6" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-red-200 rounded-md">6</button>
        <button id="digit7" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-red-200 rounded-md">7</button>
        <button id="digit8" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-red-200 rounded-md">8</button>
        <button id="digit9" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-red-200 rounded-md">9</button>
        <button id="digit0" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-red-200 rounded-md">0</button>
        <button id="minus" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-red-200 rounded-md">-</button>
        <button id="equal" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-red-200 rounded-md">=</button>
        <button id="backspace" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-24 shadow-lg bg-red-200 rounded-md">⇽</button>
    </div>
    <div class="flex gap-2">
        <button id="tab" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-20 shadow-lg bg-green-200 duration-100 rounded-md">↹</button>
        <button id="keyq" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-green-200 duration-100 rounded-md">Q</button>
        <button id="keyw" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-green-200 duration-100 rounded-md">W</button>
        <button id="keye" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-green-200 duration-100 rounded-md">E</button>
        <button id="keyr" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-green-200 duration-100 rounded-md">R</button>
        <button id="keyt" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-green-200 duration-100 rounded-md">T</button>
        <button id="keyy" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-green-200 duration-100 rounded-md">Y</button>
        <button id="keyu" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-green-200 duration-100 rounded-md">U</button>
        <button id="keyi" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-green-200 duration-100 rounded-md">I</button>
        <button id="keyo" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-green-200 duration-100 rounded-md">O</button>
        <button id="keyp" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-green-200 duration-100 rounded-md">P</button>
        <button id="bracketleft" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-green-200 duration-100 rounded-md">[</button>
        <button id="bracketright" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-green-200 duration-100 rounded-md">]</button>
        <button id="backslash" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-20 shadow-lg bg-green-200 duration-100 rounded-md">\</button>
    </div>
    <div class="flex gap-2">
        <button id="capslock" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-28 shadow-lg bg-blue-200 rounded-md">CAPS</button>
        <button id="keya" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-blue-200 rounded-md">A</button>
        <button id="keys" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-blue-200 rounded-md">S</button>
        <button id="keyd" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-blue-200 rounded-md">D</button>
        <button id="keyf" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-blue-200 rounded-md">F</button>
        <button id="keyg" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-blue-200 rounded-md">G</button>
        <button id="keyh" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-blue-200 rounded-md">H</button>
        <button id="keyj" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-blue-200 rounded-md">J</button>
        <button id="keyk" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-blue-200 rounded-md">K</button>
        <button id="keyl" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-blue-200 rounded-md">L</button>
        <button id="semicolon" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-blue-200 rounded-md">;</button>
        <button id="quote" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-blue-200 rounded-md">'</button>
        <button id="enter" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-28 shadow-lg bg-blue-200 rounded-md">↵</button>
    </div>
    <div class="flex gap-2">
        <button id="shiftleft" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-36 shadow-lg bg-yellow-200 rounded-md">⇑ Shift</button>
        <button id="keyz" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-yellow-200  rounded-md">Z</button>
        <button id="keyx" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-yellow-200  rounded-md">X</button>
        <button id="keyc" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-yellow-200  rounded-md">C</button>
        <button id="keyv" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-yellow-200  rounded-md">V</button>
        <button id="keyb" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-yellow-200  rounded-md">B</button>
        <button id="keyn" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-yellow-200  rounded-md">N</button>
        <button id="keym" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-yellow-200  rounded-md">M</button>
        <button id="comma" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-yellow-200  rounded-md">,</button>
        <button id="period" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-yellow-200  rounded-md">.</button>
        <button id="slash" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-14 shadow-lg bg-yellow-200  rounded-md">/</button>
        <button id="shiftright" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-36 shadow-lg bg-yellow-200  rounded-md">⇑ Shift</button>
    </div> 
    <div class="flex gap-2 mb-5">
        <button id="controlleft" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-16 shadow-lg bg-purple-200 rounded-md">Ctrl</button>
        <button id="metaleft" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-16 shadow-lg bg-purple-200 rounded-md"><img src="assets/window-key.svg" alt=""></button>
        <button id="altleft" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-16 shadow-lg bg-purple-200 rounded-md">Alt</button>
        <button id="space" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-1/2 shadow-lg bg-purple-200 rounded-md"></button>
        <button id="altright" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-16 shadow-lg bg-purple-200 rounded-md">Alt</button>
        <button id="metaright" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-16 shadow-lg bg-purple-200 rounded-md"><img src="assets/window-key.svg" alt=""></button>
        <button id="contextmenu" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-16 shadow-lg bg-purple-200 rounded-md"><img src="assets/paste-key.svg" alt=""></button>
        <button id="controlright" class="flex justify-center items-center outline-none focus:scale-90 h-14 w-16 shadow-lg bg-purple-200 rounded-md">Ctrl</button>
    </div>
</div>